* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD */
.login-wrapper {
    width: 900px;
    height: 450px;
    background: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

/* LEFT IMAGE */
.login-image {
    width: 50%;
    background: url("../images/InventoryManagement.jpg") center/cover no-repeat;
}

/* RIGHT FORM */
.login-container {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #1e3c72;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    background: #0b2341;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #06172c;
}

.footer-text {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #777;
}
